<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
<uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/wasp_bee_icon_246571"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidCourses"
        tools:targetApi="31">
        <activity
            android:name=".hw9.HW9FirsTaskActivity"
            android:exported="true"
            android:theme="@style/Theme.AndroidCourses.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".hw9.HW9SecondTaskActivity"/>
        <activity android:name=".hw9.HW9ThirdTaskActivity"/>

        <!--        <activity-->
<!--            android:name=".HW6FirstTaskActivity"-->
<!--            android:exported="true"-->
<!--            android:theme="@style/Theme.AndroidCourses.NoActionBar">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--        <activity android:name=".HW6SecondActivity" />-->
<!--        <activity android:name=".HW8SecondTaskActivity" />-->
<!--        <activity-->
<!--            android:name=".HW8ThirdTaskPersonActivity"-->
<!--            android:exported="true"-->
<!--            android:theme="@style/Theme.AndroidCourses.NoActionBar">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--        <activity android:name=".HW8ThirdTaskAddressActivity"/>-->
<!--        <activity android:name=".HW8ThirdTaskChooseAddressActivity"/>-->
<!--        <activity android:name=".HW8ThirdTaskFullInfoActivity"/>-->

        <!--        <activity-->
<!--            android:name=".SecondTaskActivity"-->
<!--            android:exported="true"-->
<!--            android:label="@string/app_name"-->
<!--            android:theme="@style/Theme.AndroidCourses.NoActionBar">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--        <activity-->
<!--            android:name=".ThirdTaskActivity"-->
<!--            android:exported="true"-->
<!--            android:label="@string/app_name"-->
<!--            android:theme="@style/Theme.AndroidCourses.NoActionBar">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity
            android:name=".AdditionalTaskActivity"
            android:exported="true"
            android:theme="@style/Theme.AndroidCourses.NoActionBar">
        </activity>
    </application>

</manifest>